/*jQuery*/
    #accordion {
        border: 1px solid black;
        text-align: center;
    }

/*Interactive*/
#infogram_0_93b19af6-985f-44a1-af91-c187bcd00204{
    padding-left: 65px;
    padding-right:65px;
    padding-top: 65px;
    padding-bottom: 65px;
}
/*article*/
#container{
    margin: auto;
    width:90%;
    float:left;
    padding:0;
}
#canvas{
    margin: auto;
    width: 90%;
}
#info {
    text-align: center;
}
#related {
    padding:50px 50px 50px 50px;
    font-size: 60px;
    font-weight:400;
}
.active {
    background-color: #B3DDF2;
    color: #FF0000;
}
.blockquote{
    float: right;
    max-width: 300px;
    color: red;
    text-align: center;
    padding: 10px;
    margin: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    border-bottom: 1px solid;
    text-decoration:none;
    border-bottom-color:hsla(307, 100%, 50%, 1);
}
.blockquote:hover {
    float: right;
    max-width: 300px;
    color: red;
    text-align: center;
    padding: 10px;
    margin: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    border-bottom-color:transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='%23f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 1em;
    background-size: auto 5px;
    background-repeat: repeat-x;
    padding-bottom: 3px;
    text-decoration: none;
}
body {
    font-family:Helvetica;
    font-size:16px;
    width:90%;
    padding: 5% 5% 5% 5%;
    letter-spacing: 0px;
}
figure {
    border: 1px solid black;
}
figcaption {
    text-align:center;
    padding:10px;
    font-size: 12px;
    font-family:garamond;
    font-weight:600;
}
header {
    background-color:#FF4136;
    color:white;
    text-align:center;
    padding:5%;
    font-weight:600;
    float: left;
    width: 90%;
}
header a:hover {
    color:#B3DDF2 ;
}
nav {
    line-height:60px;
    background-color:#F2DDDE;
    height:60px;
    width:90%;
    float: left;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position:relative;
    border: 1px solid black;
    margin: auto;
    overflow:auto;
}
section {
    max-width:1200px;
    float:left;
    padding:10px;
}
img.resize{
    width:70%; 
    height: auto;
}
footer {
    background-color:#FF4136;
    color:white;
    clear:both;
    text-align:center;
    padding:auto;
}
ul {
    list-style-type: none;
    margin: auto;
    height: 60px;
    padding: 0;
    overflow: hidden;
    background-color: #DDDDDD;
}
li {
    float: left;
    font-size: 20px;
}
li a {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FF4136;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #F7CAC9;
}
h1 {
    font-weight:400;
    text-align:center;
    font-size:50px; 
}
h1 a {
    border-bottom: 1px solid;
    text-decoration:none;
    border-bottom-color:hsla(307, 100%, 50%, 1);
    color:hsla(185, 100%, 50%, 1);
}
h1 a:hover {
    border-bottom-color:transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='%23f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 1.2em;
    background-size: auto 5px;
    background-repeat: repeat-x;
    padding-bottom: 3px;
    text-decoration: none;
    line-height: 2.5em;
}
h2 {
    text-align:center;
   color:#89ABE3;
    font-size: 30px
}
h3 {
    text-align:center;
}

p.intro:first-letter{
    font-size:90px;
    border: 1px solid;
    margin: 5px 15px 5px 5px;
    padding: 50px 10px 50px 10px;
    float:left;
    color: hsla(185, 100%, 50%, 1);
}

p a {
    border-bottom: 1px solid;
    text-decoration:none;
    border-bottom-color:hsla(307, 100%, 50%, 1);
    color:hsla(307, 100%, 50%, 1);
}
p a:hover {
    border-bottom-color:transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='%23f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 1em;
    background-size: auto 5px;
    background-repeat: repeat-x;
    padding-bottom: 3px;
    text-decoration: none;
}
p{
    color:black;
}